name: Laravel Report Build and Test

on:
  push:
    branches:
      - master
      - v*.*
  pull_request:
    branches:
      - master
      - v*.*

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: true
      matrix:
        php: ["8.2"]
        laravel: ["^9.0", "^10.0"]

    name: PHP ${{ matrix.php }} - Laravel ${{ matrix.laravel }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        run: "composer update --with='illuminate/contracts:${{ matrix.laravel }}' --prefer-dist --no-interaction --no-progress"

      - name: Execute tests via PHPUnit
        run: vendor/bin/phpunit